h1
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 50pt;
  width: 1200px;
  margin:0 auto;
}

h2
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 25pt;
}

p
{
  text-indent: 50px;
  color: white;
  font-family: times;
  font-size: 15pt;
  width: 1000px;
  margin:0 auto;
}

p.quote
{
  position: relative;
  top: 100px;
  left: 100px;
  width: 500px;
}

img
{
  float: left;
  position: relative;
  left:50px;
}

body
{
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

div.relative
{
  background-color: rgba(0,0,0,0.75);
  width: 1200px;
  margin:0 auto;
}

div.top
{
  height: 300px;
}

a
{
  color: rgba(57,27,191);
  font-family: times;
  font-size: 15pt;
}

a:hover
{
  background-color: black;
  color: white;
}
