h1
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 50pt;
}

h2
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 25pt;
}

p
{
  color: white;
  font-family: times;
  font-size: 15pt;
}

body
{
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

div.relative
{
  background-color: rgba(0,0,0,0.5);
  width: 1200px;
  margin:0 auto;
  /*position: relative;
  left: 100px;*/
}

div.profilepicture
{
  background: url(profilepic.jpg) 50% 10% no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
}

a
{
  color: rgba(57,27,191);
  font-family: times;
  font-size: 15pt;
  position: relative;
  left: 50px;
}

a:hover
{
  background-color: black;
  color: white;
}
