h1
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 50pt;
}

p
{
  background-color: black;
  color: white;
  font-family: times;
  font-size: 12pt;
}

body
{
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

div.relative
{
  width: 1000px;
  position: relative;
  left: 100px;
}

div.profilepicture
{
  background: url(profilepic.jpg) 50% 10% no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
}
